extends ../../layouts/default.pug

block main 
    .role-detail-container
        if record.title 
            h1.role-title #{record.title}
        
        if record.description
            .role-description #{record.description}
        
        if record.permissions && record.permissions.length > 0
            .permissions-container
                h3.permission-title Quyền hạn:
                each item in record.permissions
                    .permission-item #{item}
        else
            .alert.alert-info Không có quyền hạn nào được thiết lập

        .action-buttons
            a.btn.btn-edit(href=`${prefixAdmin}/roles/edit/${record.id}`)
                i.fa.fa-edit.mr-2
                | Chỉnh sửa
            
            a.btn.btn-back(href=`${prefixAdmin}/roles`)
                i.fa.fa-arrow-left.mr-2
                | Quay lại