extends ../../layouts/default.pug

block main 
    div(class="my-account-container")
        h1(class="mb-4") Tài khoản của tôi

        if(user.avatar)
            div(class="avatar-wrapper")
                img(src= user.avatar, alt= user.title, width = "100px", height = auto)

        div(class="profile-info")
            if(user.fullName) 
                div(class="profile-detail-item")
                    span(class="label") Họ tên
                    span(class="value") #{user.fullName}

            if(user.email) 
                div(class="profile-detail-item")
                    span(class="label") Email
                    span(class="value") #{user.email}

            if(user.phone)
                div(class="profile-detail-item")
                    span(class="label") Số điện thoại
                    span(class="value") #{user.phone}
            
            if(user.status)
                div(class="profile-detail-item")
                    span(class="label") Trạng thái
                    div(class="status-badge-container")
                        if(user.status == "active")
                            span(class="badge status-badge active") Hoạt động 
                        else 
                            span(class="badge status-badge inactive") Dừng hoạt động

            if(role.title)
                div(class="profile-detail-item")
                    span(class="label") Phân quyền
                    span(class="value")
                        span(class="role-badge") #{role.title}

        div(class="button-container")
            a(
                href=`${prefixAdmin}/my-account/edit`
                class='update-button'
            ) Cập nhật thông tin

block custom_scripts
    script(src="/admin/js/product.js")